.elementor-398 .elementor-element.elementor-element-9e73a47 > .elementor-container{
    min-height:600px;
}
.elementor-398 .elementor-element.elementor-element-9e73a47 > .elementor-container > .elementor-column > .elementor-widget-wrap{
    align-content:center;
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-9e73a47:not(.elementor-motion-effects-element-type-background), .elementor-398 .elementor-element.elementor-element-9e73a47 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image:url("../../2022/01/mainSlider.jpg");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.elementor-398 .elementor-element.elementor-element-9e73a47 > .elementor-background-overlay{
    background-color:#000000;
    opacity:0.5;
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-398 .elementor-element.elementor-element-9e73a47{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding:0px 0px 0px 0px;
}
.elementor-bc-flex-widget .elementor-398 .elementor-element.elementor-element-b394455.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-b394455.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-b394455.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-398 .elementor-element.elementor-element-4de1ea8{
    padding:20px 0px 0px 0px;
}
.elementor-398 .elementor-element.elementor-element-44a7d2a:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-398 .elementor-element.elementor-element-44a7d2a > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#00000080;
}
.elementor-398 .elementor-element.elementor-element-44a7d2a > .elementor-element-populated{
    border-style:solid;
    border-color:#00000000;
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding:15px 15px 15px 15px;
}
.elementor-398 .elementor-element.elementor-element-44a7d2a > .elementor-element-populated, .elementor-398 .elementor-element.elementor-element-44a7d2a > .elementor-element-populated > .elementor-background-overlay, .elementor-398 .elementor-element.elementor-element-44a7d2a > .elementor-background-slideshow{
    border-radius:30px 30px 30px 30px;
}
.elementor-398 .elementor-element.elementor-element-44a7d2a > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-398 .elementor-element.elementor-element-e975391 .elementor-heading-title{
    color:#FFFFFF;
    font-family:"VT323", Sans-serif;
    font-size:4.5em;
    font-weight:600;
    text-transform:uppercase;
    -webkit-text-stroke:0px;
    stroke-width:0px;
    -webkit-text-stroke-color:#FFFFFF;
    stroke:#FFFFFF;
}
.elementor-398 .elementor-element.elementor-element-7095d88{
    --divider-border-style:solid;
    --divider-color:#8600FF;
    --divider-border-width:3px;
}
.elementor-398 .elementor-element.elementor-element-7095d88 .elementor-divider-separator{
    width:100%;
}
.elementor-398 .elementor-element.elementor-element-7095d88 .elementor-divider{
    padding-top:15px;
    padding-bottom:15px;
}
.elementor-398 .elementor-element.elementor-element-3eede54{
    color:#FFFFFF;
    font-family:"VT323", Sans-serif;
    font-size:1.5em;
    font-weight:400;
    text-transform:uppercase;
    line-height:20px;
}
.elementor-398 .elementor-element.elementor-element-ac23960 .elementor-button .elementor-align-icon-right{
    margin-left:0px;
}
.elementor-398 .elementor-element.elementor-element-ac23960 .elementor-button .elementor-align-icon-left{
    margin-right:0px;
}
.elementor-398 .elementor-element.elementor-element-ac23960 .elementor-button{
    width:200px;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:inline-flex;
    font-family:"VT323", Sans-serif;
    font-size:1.5em;
    font-weight:500;
    text-transform:uppercase;
    font-style:italic;
    background-color:#8FCB5700;
    padding:0px 0px 0px 0px;
}
.elementor-398 .elementor-element.elementor-element-4306466{
    --divider-border-style:solid;
    --divider-color:#8600FF;
    --divider-border-width:3px;
}
.elementor-398 .elementor-element.elementor-element-4306466 .elementor-divider-separator{
    width:100%;
}
.elementor-398 .elementor-element.elementor-element-4306466 .elementor-divider{
    padding-top:15px;
    padding-bottom:15px;
}
.elementor-398 .elementor-element.elementor-element-275c6f9 .elementor-spacer-inner{
    height:25px;
}
.elementor-398 .elementor-element.elementor-element-c27aaf4{
    padding:0px 0px 20px 0px;
}
.elementor-bc-flex-widget .elementor-398 .elementor-element.elementor-element-a994b53.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-a994b53.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-a994b53.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-398 .elementor-element.elementor-element-e4c9d02 .elementor-button{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:inline-flex;
    font-family:"VT323", Sans-serif;
    font-size:2.5em;
    font-weight:500;
    text-transform:uppercase;
    background-color:#8FCB5700;
}
.elementor-398 .elementor-element.elementor-element-e4c9d02 > .elementor-widget-container{
    background-image:url("../../2021/12/waterPattern.jpg");
}
.elementor-398 .elementor-element.elementor-element-e4c9d02.ha-has-bg-overlay > .elementor-widget-container:before{
    transition:background 0.3s;
}
.elementor-bc-flex-widget .elementor-398 .elementor-element.elementor-element-284bf90.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-284bf90.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-284bf90.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-398 .elementor-element.elementor-element-f81a82e .elementor-button{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:inline-flex;
    font-family:"VT323", Sans-serif;
    font-size:2.5em;
    font-weight:500;
    text-transform:uppercase;
    background-color:#8FCB5700;
}
.elementor-398 .elementor-element.elementor-element-f81a82e > .elementor-widget-container{
    background-image:url("../../2021/12/waterPattern.jpg");
}
.elementor-398 .elementor-element.elementor-element-f81a82e.ha-has-bg-overlay > .elementor-widget-container:before{
    transition:background 0.3s;
}
.elementor-398 .elementor-element.elementor-element-09b26ba:not(.elementor-motion-effects-element-type-background), .elementor-398 .elementor-element.elementor-element-09b26ba > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image:url("../../2021/12/obsidianPattern.jpg");
}
.elementor-398 .elementor-element.elementor-element-09b26ba{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding:20px 0px 20px 0px;
}
.elementor-398 .elementor-element.elementor-element-09b26ba > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-398 .elementor-element.elementor-element-bef52ef{
    text-align:center;
}
.elementor-398 .elementor-element.elementor-element-bef52ef .elementor-heading-title{
    color:#FFFFFF;
    font-family:"VT323", Sans-serif;
    font-size:3.5em;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-398 .elementor-element.elementor-element-8df4290:not(.elementor-motion-effects-element-type-background), .elementor-398 .elementor-element.elementor-element-8df4290 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image:url("../../2021/12/obsidianPattern.jpg");
}
.elementor-398 .elementor-element.elementor-element-8df4290{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding:20px 0px 20px 0px;
}
.elementor-398 .elementor-element.elementor-element-8df4290 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-398 .elementor-element.elementor-element-aad9bad{
    text-align:center;
}
.elementor-398 .elementor-element.elementor-element-aad9bad .elementor-heading-title{
    color:#FFFFFF;
    font-family:"VT323", Sans-serif;
    font-size:2em;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-398 .elementor-element.elementor-element-3ec35dd:not(.elementor-motion-effects-element-type-background), .elementor-398 .elementor-element.elementor-element-3ec35dd > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#00151F;
}
.elementor-398 .elementor-element.elementor-element-3ec35dd{
    border-style:solid;
    border-color:#00151F;
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-398 .elementor-element.elementor-element-3ec35dd, .elementor-398 .elementor-element.elementor-element-3ec35dd > .elementor-background-overlay{
    border-radius:40px 40px 40px 40px;
}
.elementor-398 .elementor-element.elementor-element-3ec35dd > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-398 .elementor-element.elementor-element-8f9020b.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-8f9020b.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-8f9020b.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-398 .elementor-element.elementor-element-8f9020b > .elementor-element-populated{
    margin:0px 0px 0px 0px;
    --e-column-margin-right:0px;
    --e-column-margin-left:0px;
}
.elementor-398 .elementor-element.elementor-element-559f8fc > .elementor-widget-container{
    --e-transform-translateX:80px;
    --e-transform-scale:1.33;
}
.elementor-398 .elementor-element.elementor-element-4fe8174{
    text-align:center;
}
.elementor-398 .elementor-element.elementor-element-4fe8174 .elementor-heading-title{
    color:#FFFFFF;
    font-family:"VT323", Sans-serif;
    font-size:3em;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-bc-flex-widget .elementor-398 .elementor-element.elementor-element-6522df7.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-6522df7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-398 .elementor-element.elementor-element-6522df7.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-398 .elementor-element.elementor-element-9a2111a{
    text-align:center;
}
.elementor-398 .elementor-element.elementor-element-9a2111a .elementor-heading-title{
    color:#FFFFFF;
    font-family:"VT323", Sans-serif;
    font-size:2.5em;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-398 .elementor-element.elementor-element-fca2383 .elementor-icon-list-icon i{
    color:#BEBDD4;
}
.elementor-398 .elementor-element.elementor-element-fca2383 .elementor-icon-list-icon svg{
    fill:#BEBDD4;
}
.elementor-398 .elementor-element.elementor-element-fca2383{
    --e-icon-list-icon-size:10px;
}
.elementor-398 .elementor-element.elementor-element-fca2383 .elementor-icon-list-text{
    color:#BEBDD4;
    text-shadow:0px 0px 10px rgba(0,0,0,0.3);
}
.elementor-398 .elementor-element.elementor-element-fca2383 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-398 .elementor-element.elementor-element-fca2383 .elementor-icon-list-item > a{
    font-family:"VT323", Sans-serif;
    font-size:1.5em;
    font-weight:400;
}
.elementor-398 .elementor-element.elementor-element-2c7aa64{
    text-align:center;
}
.elementor-398 .elementor-element.elementor-element-2c7aa64 .elementor-heading-title{
    color:#FFFFFF;
    font-family:"VT323", Sans-serif;
    font-size:2.5em;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-398 .elementor-element.elementor-element-2b179cf .elementor-icon-list-icon i{
    color:#BEBDD4;
}
.elementor-398 .elementor-element.elementor-element-2b179cf .elementor-icon-list-icon svg{
    fill:#BEBDD4;
}
.elementor-398 .elementor-element.elementor-element-2b179cf{
    --e-icon-list-icon-size:10px;
}
.elementor-398 .elementor-element.elementor-element-2b179cf .elementor-icon-list-text{
    color:#BEBDD4;
    text-shadow:0px 0px 10px rgba(0,0,0,0.3);
}
.elementor-398 .elementor-element.elementor-element-2b179cf .elementor-icon-list-item > .elementor-icon-list-text, .elementor-398 .elementor-element.elementor-element-2b179cf .elementor-icon-list-item > a{
    font-family:"VT323", Sans-serif;
    font-size:1.5em;
    font-weight:400;
}
.elementor-398 .elementor-element.elementor-element-8a8cbf3{
    text-align:center;
}
.elementor-398 .elementor-element.elementor-element-8a8cbf3 .elementor-heading-title{
    color:#FFFFFF;
    font-family:"VT323", Sans-serif;
    font-size:2.5em;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-398 .elementor-element.elementor-element-8a8cbf3 > .elementor-widget-container{
    margin:0% 0% 0% 010%;
    padding:20px 0px 0px 0px;
}
.elementor-398 .elementor-element.elementor-element-17e3d4d .elementor-icon-list-icon i{
    color:#BEBDD4;
}
.elementor-398 .elementor-element.elementor-element-17e3d4d .elementor-icon-list-icon svg{
    fill:#BEBDD4;
}
.elementor-398 .elementor-element.elementor-element-17e3d4d{
    --e-icon-list-icon-size:10px;
}
.elementor-398 .elementor-element.elementor-element-17e3d4d .elementor-icon-list-text{
    color:#BEBDD4;
    text-shadow:0px 0px 10px rgba(0,0,0,0.3);
}
.elementor-398 .elementor-element.elementor-element-17e3d4d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-398 .elementor-element.elementor-element-17e3d4d .elementor-icon-list-item > a{
    font-family:"VT323", Sans-serif;
    font-size:1.5em;
    font-weight:400;
}
.elementor-398 .elementor-element.elementor-element-17e3d4d > .elementor-widget-container{
    margin:0% 0% 0% 035%;
}
:root{
    --page-title-display:none;
}
@media(min-width:768px){
    .elementor-398 .elementor-element.elementor-element-8f9020b{
        width:55%;
    }
    .elementor-398 .elementor-element.elementor-element-75b9b18{
        width:45%;
    }
}
@media(max-width:1024px){
    .elementor-398 .elementor-element.elementor-element-275c6f9 .elementor-spacer-inner{
        height:20px;
    }
    .elementor-398 .elementor-element.elementor-element-e4c9d02 .elementor-button{
        font-size:1.9em;
    }
    .elementor-398 .elementor-element.elementor-element-f81a82e .elementor-button{
        font-size:1.9em;
    }
    .elementor-398 .elementor-element.elementor-element-559f8fc > .elementor-widget-container{
        --e-transform-translateX:0px;
    }
}
@media(max-width:767px){
    .elementor-398 .elementor-element.elementor-element-e975391{
        text-align:left;
    }
    .elementor-398 .elementor-element.elementor-element-275c6f9 .elementor-spacer-inner{
        height:20px;
    }
    .elementor-398 .elementor-element.elementor-element-e4c9d02 .elementor-button{
        font-size:1.6em;
    }
    .elementor-398 .elementor-element.elementor-element-f81a82e .elementor-button{
        font-size:1.6em;
    }
    .elementor-398 .elementor-element.elementor-element-559f8fc > .elementor-widget-container{
        --e-transform-translateX:0px;
    }
    .elementor-398 .elementor-element.elementor-element-17e3d4d > .elementor-widget-container{
        margin:0% 0% 0% 0%;
    }
}
