.elementor-414 .elementor-element.elementor-element-755a160 > .elementor-container{
    min-height:100px;
}
.elementor-414 .elementor-element.elementor-element-755a160:not(.elementor-motion-effects-element-type-background), .elementor-414 .elementor-element.elementor-element-755a160 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#000000;
}
.elementor-414 .elementor-element.elementor-element-755a160{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-414 .elementor-element.elementor-element-755a160 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-414 .elementor-element.elementor-element-85dc916 > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-414 .elementor-element.elementor-element-85dc916 > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-414 .elementor-element.elementor-element-68483b5{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-414 .elementor-element.elementor-element-68483b5 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-414 .elementor-element.elementor-element-b552c5a{
    text-align:left;
}
.elementor-bc-flex-widget .elementor-414 .elementor-element.elementor-element-d1f4dca.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-414 .elementor-element.elementor-element-d1f4dca.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-414 .elementor-element.elementor-element-d1f4dca.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-414 .elementor-element.elementor-element-76bd95c .elementor-repeater-item-49f869b.elementor-social-icon{
    background-color:#FFFFFF00;
}
.elementor-414 .elementor-element.elementor-element-76bd95c .elementor-repeater-item-49f869b.elementor-social-icon i{
    color:#FFFFFF;
}
.elementor-414 .elementor-element.elementor-element-76bd95c .elementor-repeater-item-49f869b.elementor-social-icon svg{
    fill:#FFFFFF;
}
.elementor-414 .elementor-element.elementor-element-76bd95c{
    --grid-template-columns:repeat(0, auto);
    --icon-size:80px;
    --grid-column-gap:5px;
    --grid-row-gap:0px;
}
.elementor-414 .elementor-element.elementor-element-76bd95c .elementor-widget-container{
    text-align:center;
}
.elementor-414 .elementor-element.elementor-element-76bd95c .elementor-social-icon{
    --icon-padding:0em;
}
.elementor-414 .elementor-element.elementor-element-5c26722 .elementor-repeater-item-49f869b.elementor-social-icon{
    background-color:#FFFFFF00;
}
.elementor-414 .elementor-element.elementor-element-5c26722 .elementor-repeater-item-49f869b.elementor-social-icon i{
    color:#FFFFFF;
}
.elementor-414 .elementor-element.elementor-element-5c26722 .elementor-repeater-item-49f869b.elementor-social-icon svg{
    fill:#FFFFFF;
}
.elementor-414 .elementor-element.elementor-element-5c26722{
    --grid-template-columns:repeat(0, auto);
    --icon-size:80px;
    --grid-column-gap:5px;
    --grid-row-gap:0px;
}
.elementor-414 .elementor-element.elementor-element-5c26722 .elementor-widget-container{
    text-align:center;
}
.elementor-414 .elementor-element.elementor-element-5c26722 .elementor-social-icon{
    --icon-padding:0em;
}
.elementor-414 .elementor-element.elementor-element-2b45d5a{
    text-align:center;
    color:#BCBCD2;
    font-family:"VT323", Sans-serif;
    font-size:1.4em;
    font-weight:400;
}
@media(max-width:767px){
    .elementor-414 .elementor-element.elementor-element-b552c5a{
        text-align:center;
    }
    .elementor-414 .elementor-element.elementor-element-76bd95c .elementor-widget-container{
        text-align:center;
    }
    .elementor-414 .elementor-element.elementor-element-5c26722 .elementor-widget-container{
        text-align:center;
    }
}
@media(min-width:768px){
    .elementor-414 .elementor-element.elementor-element-e862cbf{
        width:65.789%;
    }
    .elementor-414 .elementor-element.elementor-element-d1f4dca{
        width:34.167%;
    }
}
