# ===========================
# CORE FUNCTIONS
# ===========================
DAO_EXP_MODULE_ONLY=true
API_PORT=4000
DB_CONN_STRING="mongodb://user:pass@ip:27017/?authSource=crafteconomy"
DB_NAME="crafteconomy"
REDIS_CONN_STRING="redis://:password@ip:6379"

# ===================================
# SERVER PAYMENTS / IN GAME ESCROW
# ===================================
CRAFT_DAO_ESCROW_WALLET_MNUMONIC="decorate bright ozone fork gallery riot bus exhaust worth way bone indoor calm squirrel merry zero scheme cotton until shop any excess stage laundry"
CRAFT_DAO_ESCROW_SECRET="7821719493" # make longer than this in production
CRAFT_DAO_ESCROW_WEBHOOK_URL="discord.webhook.url.here"

# ===================================
# CRAFT NFT CONTRACT ADDRESSES
# ===================================
CW721_CODE="3" # Used to query ALL contracts on chain for a given user
ADDR721_REALESTATE="craft1qrwaatac4xvf4qnnagvsc93gcnv2x2t7mm575v3drzh2wcap9hasjlt6rr"
ADDRM="craft146ypndztcmmrmyxef7e20cul82gh43vjnw4uacwdvg5sp9kva7sqs9g5gt"

# ===================================
# DAO ASSET WALLETS (for exp pricing)
# ===================================
DAO_WALLETS="cosmos10r39fueph9fq7a6lgswu4zdsg8t3gxlqvvvyvn,osmo10r39fueph9fq7a6lgswu4zdsg8t3gxlqyhl56p,juno10r39fueph9fq7a6lgswu4zdsg8t3gxlq670lt0,dig10r39fueph9fq7a6lgswu4zdsg8t3gxlq5c90wg"

# ===========================
# CRAFT ADMIN NFT WALLET (not sure this is required anymore)
# ===========================
CRAFT_ADMIN_WALLET="craft1hj5fveer5cjtn4wd6wstzugjfdxzl0xp86p9fl"

# ===========================
# CRAFTD REST & RPC ENDPOINTS
# ===========================
CRAFTD_REST="http://65.108.125.182:1317"
CRAFTD_NODE="http://65.108.125.182:26657"