.elementor-391 .elementor-element.elementor-element-755a160 > .elementor-container{
    min-height:120px;
}
.elementor-391 .elementor-element.elementor-element-755a160:not(.elementor-motion-effects-element-type-background), .elementor-391 .elementor-element.elementor-element-755a160 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image:url("../../2021/12/obsidianPattern.jpg");
}
.elementor-391 .elementor-element.elementor-element-755a160{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-391 .elementor-element.elementor-element-755a160 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-391 .elementor-element.elementor-element-f9b9658.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-391 .elementor-element.elementor-element-f9b9658.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-391 .elementor-element.elementor-element-e8aa0bc{
    top:-50px;
}
.elementor-bc-flex-widget .elementor-391 .elementor-element.elementor-element-23eaa9b.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-391 .elementor-element.elementor-element-23eaa9b.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-391 .elementor-element.elementor-element-23eaa9b.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-391 .elementor-element.elementor-element-59c288b .hfe-nav-menu__toggle{
    margin:0 auto;
}
.elementor-391 .elementor-element.elementor-element-59c288b .menu-item a.hfe-menu-item{
    padding-left:15px;
    padding-right:15px;
}
.elementor-391 .elementor-element.elementor-element-59c288b .menu-item a.hfe-sub-menu-item{
    padding-left:calc( 15px + 20px );
    padding-right:15px;
}
.elementor-391 .elementor-element.elementor-element-59c288b .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item{
    padding-left:calc( 15px + 40px );
    padding-right:15px;
}
.elementor-391 .elementor-element.elementor-element-59c288b .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item{
    padding-left:calc( 15px + 60px );
    padding-right:15px;
}
.elementor-391 .elementor-element.elementor-element-59c288b .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item{
    padding-left:calc( 15px + 80px );
    padding-right:15px;
}
.elementor-391 .elementor-element.elementor-element-59c288b .menu-item a.hfe-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b .menu-item a.hfe-sub-menu-item{
    padding-top:15px;
    padding-bottom:15px;
}
.elementor-391 .elementor-element.elementor-element-59c288b a.hfe-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b a.hfe-sub-menu-item{
    font-family:"VT323", Sans-serif;
    font-size:1.5em;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-391 .elementor-element.elementor-element-59c288b .menu-item a.hfe-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b .sub-menu a.hfe-sub-menu-item{
    color:#FFFFFF;
}
.elementor-391 .elementor-element.elementor-element-59c288b .menu-item a.hfe-menu-item:hover, .elementor-391 .elementor-element.elementor-element-59c288b .sub-menu a.hfe-sub-menu-item:hover, .elementor-391 .elementor-element.elementor-element-59c288b .menu-item.current-menu-item a.hfe-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b .menu-item a.hfe-menu-item.highlighted, .elementor-391 .elementor-element.elementor-element-59c288b .menu-item a.hfe-menu-item:focus{
    color:#A0A3BD;
}
.elementor-391 .elementor-element.elementor-element-59c288b .sub-menu a.hfe-sub-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b .elementor-menu-toggle, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown li a.hfe-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown li a.hfe-sub-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown-expandible li a.hfe-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown-expandible li a.hfe-sub-menu-item{
    color:#000000;
}
.elementor-391 .elementor-element.elementor-element-59c288b .sub-menu, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown-expandible, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown .menu-item a.hfe-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown .menu-item a.hfe-sub-menu-item{
    background-color:#fff;
}
.elementor-391 .elementor-element.elementor-element-59c288b ul.sub-menu{
    width:220px;
}
.elementor-391 .elementor-element.elementor-element-59c288b .sub-menu a.hfe-sub-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown li a.hfe-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown li a.hfe-sub-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown-expandible li a.hfe-menu-item, .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown-expandible li a.hfe-sub-menu-item{
    padding-top:15px;
    padding-bottom:15px;
}
.elementor-391 .elementor-element.elementor-element-59c288b .sub-menu li.menu-item:not(:last-child), .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown li.menu-item:not(:last-child), .elementor-391 .elementor-element.elementor-element-59c288b nav.hfe-dropdown-expandible li.menu-item:not(:last-child){
    border-bottom-style:solid;
    border-bottom-color:#c4c4c4;
    border-bottom-width:1px;
}
.elementor-391 .elementor-element.elementor-element-59c288b div.hfe-nav-menu-icon{
    color:#FFFFFF;
}
.elementor-391 .elementor-element.elementor-element-59c288b div.hfe-nav-menu-icon svg{
    fill:#FFFFFF;
}
@media(min-width:768px){
    .elementor-391 .elementor-element.elementor-element-f9b9658{
        width:14.42%;
    }
    .elementor-391 .elementor-element.elementor-element-23eaa9b{
        width:85.58%;
    }
}
@media(max-width:1024px) and (min-width:768px){
    .elementor-391 .elementor-element.elementor-element-f9b9658{
        width:10%;
    }
    .elementor-391 .elementor-element.elementor-element-23eaa9b{
        width:60%;
    }
}
