.elementor-560 .elementor-element.elementor-element-9b511ab > .elementor-container{
    max-width:400px;
}
.elementor-560 .elementor-element.elementor-element-9b511ab{
    padding:5px 5px 5px 5px;
}
.elementor-560 .elementor-element.elementor-element-c20051b > .elementor-container{
    max-width:500px;
    min-height:125px;
}
.elementor-560 .elementor-element.elementor-element-c20051b > .elementor-background-overlay{
    background-color:#000000;
    opacity:0.5;
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-560 .elementor-element.elementor-element-c20051b, .elementor-560 .elementor-element.elementor-element-c20051b > .elementor-background-overlay{
    border-radius:30px 30px 30px 30px;
}
.elementor-560 .elementor-element.elementor-element-c20051b{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top:10px;
    margin-bottom:10px;
    padding:0px 20px 0px 20px;
}
.elementor-560 .elementor-element.elementor-element-d91487c{
    width:30%;
}
.elementor-bc-flex-widget .elementor-560 .elementor-element.elementor-element-d91487c.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-d91487c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-d91487c.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-560 .elementor-element.elementor-element-3b50c84{
    width:70%;
}
.elementor-bc-flex-widget .elementor-560 .elementor-element.elementor-element-3b50c84.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-3b50c84.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-3b50c84 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
    margin-bottom:5px;
}
.elementor-560 .elementor-element.elementor-element-b8677b7 .elementor-heading-title{
    color:#FBFFF8;
    font-family:"VT323", Sans-serif;
    font-size:30px;
    font-weight:600;
}
.elementor-560 .elementor-element.elementor-element-6aecca3 .elementor-heading-title{
    color:#727272;
    font-family:"VT323", Sans-serif;
    font-size:20px;
    font-weight:600;
}
.elementor-560 .elementor-element.elementor-element-5bb6f8e > .elementor-container{
    max-width:500px;
    min-height:125px;
}
.elementor-560 .elementor-element.elementor-element-5bb6f8e > .elementor-background-overlay{
    background-color:#000000;
    opacity:0.5;
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-560 .elementor-element.elementor-element-5bb6f8e, .elementor-560 .elementor-element.elementor-element-5bb6f8e > .elementor-background-overlay{
    border-radius:30px 30px 30px 30px;
}
.elementor-560 .elementor-element.elementor-element-5bb6f8e{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top:10px;
    margin-bottom:10px;
    padding:0px 20px 0px 20px;
}
.elementor-560 .elementor-element.elementor-element-5b703ee{
    width:30%;
}
.elementor-bc-flex-widget .elementor-560 .elementor-element.elementor-element-5b703ee.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-5b703ee.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-5b703ee.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-560 .elementor-element.elementor-element-db967cc{
    width:70%;
}
.elementor-bc-flex-widget .elementor-560 .elementor-element.elementor-element-db967cc.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-db967cc.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-db967cc.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-560 .elementor-element.elementor-element-db967cc > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
    margin-bottom:5px;
}
.elementor-560 .elementor-element.elementor-element-61d150b .elementor-heading-title{
    color:#FBFFF8;
    font-family:"VT323", Sans-serif;
    font-size:30px;
    font-weight:600;
}
.elementor-560 .elementor-element.elementor-element-12f682b .elementor-heading-title{
    color:#727272;
    font-family:"VT323", Sans-serif;
    font-size:20px;
    font-weight:600;
}
.elementor-560 .elementor-element.elementor-element-28b1ad1 > .elementor-container{
    max-width:500px;
    min-height:125px;
}
.elementor-560 .elementor-element.elementor-element-28b1ad1 > .elementor-background-overlay{
    background-color:#000000;
    opacity:0.5;
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-560 .elementor-element.elementor-element-28b1ad1, .elementor-560 .elementor-element.elementor-element-28b1ad1 > .elementor-background-overlay{
    border-radius:30px 30px 30px 30px;
}
.elementor-560 .elementor-element.elementor-element-28b1ad1{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top:10px;
    margin-bottom:10px;
    padding:0px 20px 0px 20px;
}
.elementor-560 .elementor-element.elementor-element-2099baf{
    width:30%;
}
.elementor-bc-flex-widget .elementor-560 .elementor-element.elementor-element-2099baf.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-2099baf.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-2099baf.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-560 .elementor-element.elementor-element-8b0654c{
    width:70%;
}
.elementor-bc-flex-widget .elementor-560 .elementor-element.elementor-element-8b0654c.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-8b0654c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-8b0654c.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-560 .elementor-element.elementor-element-8b0654c > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
    margin-bottom:5px;
}
.elementor-560 .elementor-element.elementor-element-d91a453 .elementor-heading-title{
    color:#FBFFF8;
    font-family:"VT323", Sans-serif;
    font-size:30px;
    font-weight:600;
}
.elementor-560 .elementor-element.elementor-element-6a33de1 .elementor-heading-title{
    color:#727272;
    font-family:"VT323", Sans-serif;
    font-size:20px;
    font-weight:600;
}
.elementor-560 .elementor-element.elementor-element-1bed9a6 > .elementor-container{
    max-width:500px;
    min-height:125px;
}
.elementor-560 .elementor-element.elementor-element-1bed9a6 > .elementor-background-overlay{
    background-color:#696969;
    opacity:0.5;
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-560 .elementor-element.elementor-element-1bed9a6, .elementor-560 .elementor-element.elementor-element-1bed9a6 > .elementor-background-overlay{
    border-radius:30px 30px 30px 30px;
}
.elementor-560 .elementor-element.elementor-element-1bed9a6{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top:10px;
    margin-bottom:10px;
    padding:0px 20px 0px 20px;
}
.elementor-560 .elementor-element.elementor-element-04469cc{
    width:30%;
}
.elementor-bc-flex-widget .elementor-560 .elementor-element.elementor-element-04469cc.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-04469cc.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-04469cc.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-560 .elementor-element.elementor-element-05ebd41{
    width:70%;
}
.elementor-bc-flex-widget .elementor-560 .elementor-element.elementor-element-05ebd41.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-05ebd41.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-560 .elementor-element.elementor-element-05ebd41.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-560 .elementor-element.elementor-element-05ebd41 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
    margin-bottom:5px;
}
.elementor-560 .elementor-element.elementor-element-409cc89 .eael-fancy-text-container{
    text-align:center;
}
.elementor-560 .elementor-element.elementor-element-409cc89 .eael-fancy-text-prefix{
    color:#AEAEAE;
    font-family:"VT323", Sans-serif;
    font-size:30px;
    font-weight:600;
    line-height:1px;
}
.elementor-560 .elementor-element.elementor-element-409cc89 .eael-fancy-text-strings, .elementor-560 .elementor-element.elementor-element-409cc89 .typed-cursor{
    font-family:"VT323", Sans-serif;
    font-size:30px;
    font-weight:600;
}
.elementor-560 .elementor-element.elementor-element-409cc89 .eael-fancy-text-strings{
    color:#BFBFBF;
}
.elementor-560 .elementor-element.elementor-element-409cc89 .eael-fancy-text-suffix{
    font-size:22px;
    font-weight:600;
    line-height:1px;
}
.elementor-560 .elementor-element.elementor-element-69ddd83 .elementor-heading-title{
    color:#B7B7B7;
    font-family:"VT323", Sans-serif;
    font-size:20px;
    font-weight:600;
}
:root{
    --page-title-display:none;
}
body.elementor-page-560:not(.elementor-motion-effects-element-type-background), body.elementor-page-560 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image:url("../../2021/12/portalPopup.jpg");
}
