.elementor-459 .elementor-element.elementor-element-cf0476b{
    text-align:center;
}
.elementor-459 .elementor-element.elementor-element-cf0476b .elementor-heading-title{
    color:#FFFFFF;
    font-family:"VT323", Sans-serif;
    font-size:3em;
    font-weight:600;
    text-transform:uppercase;
}
.elementor-459 .elementor-element.elementor-element-cf0476b.ha-has-bg-overlay > .elementor-widget-container:before{
    transition:background 0.3s;
}
.elementor-459 .elementor-element.elementor-element-d422cd8 .eael-contact-form-7 .wpcf7-not-valid-tip{
    display:block !important;
}
.elementor-459 .elementor-element.elementor-element-d422cd8 .eael-contact-form-7 .wpcf7-validation-errors{
    display:block !important;
}
.elementor-459 .elementor-element.elementor-element-d422cd8 .eael-contact-form-7 .wpcf7-form p:not(:last-of-type) .wpcf7-form-control-wrap{
    margin-bottom:0px;
}
:root{
    --page-title-display:none;
}
